.row
  .col-md-12
    = semantic_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.inputs :name => "Account" do
        = f.input :name, hint: "Please enter your full name. It will be visible to admins and can be changed from your account settings at any point."
        = f.input :email, :required => false
        = f.input :password, hint: "(Leave blank if you don't want to change it)", input_html: {autocomplete: "off"}
        = f.input :password_confirmation, input_html: {autocomplete: "off"}
        = f.input :current_password, input_html: {autocomplete: "off"}, hint: "(we need your current password to confirm password or email changes)"
      = f.action :submit, as: :button, label: "Update", button_html: {class: "btn btn-primary"}
